.banner {
  background: url('https://www.jetsetchristina.com/wp-content/uploads/2019/10/luxury-airbnb-aspen-scaled.jpg');
  height: 50vh;
  position: relative;
}

.banner__infor {
  background-color: black;
  color: white;
  padding-top: 25vh;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 40px;
  width: 300px;
}
.banner__search {
  display: flex;
  flex-direction: column;
}

.banner__searchButton {
  background-color: white !important;
  color: #ff7779 !important;
  text-transform: inherit !important;
  font-weight: 900 !important;
  border: none !important;
}

.banner__infor > button {
  background-color: #ff7779;
  color: white;
  text-transform: inherit;
  margin-top: 20px;
  font-weight: 600;
  border: none !important;
}

.banner__infor > button:hover {
  background-color: white;
  color: #ff7779;
}
